
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">My Portfolio</h1>
      <p class="lead text-muted">Most of my best work is locked up in proprietary code, but in this portfolio I've listed a few public projects I've worked on. I'm really passionate about creating applications and optimizing software.</p>
      <p>
        <%= link_to "Find Out More About Me", about_me_path, class: "btn btn-primary my-2" %>
      </p>
    </div>
  </section>
</main>