<div class="app-card-container">
	<div class="card">

		<h1>About Me</h1>

		<hr>

		<div class="row">

			<div class="col-md-4">
				<!-- <img src="http://via.placeholder.com/350x200" alt="Profile Image"/> -->

				<%= image_tag "montenegro.jpeg", width: 250, alt: "profile image", class: 'profile-image' %>
			</div>
			<div class="col-md-8">
				<p>Find me in app/views/pages/about.html.erb</p>
			</div>
		</div>

	</div>
</div>
