  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome</h1>
    <p class="lead">
    	<div id="typed-strings">
    		<p>Software development is a complicated, always-transforming industry.</p>
    		<p>I'm passionate about communicating complex topics in a simple, easy-to-understand way and creating efficient applications.</p>
    	</div>
    	<span class="element" ></span>
    </p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: 'btn btn-lg btn-secondary' %>
    </p>
  </main>
